*{ 
    background-color: bisque;
 font-style: italic;
 font: size 40px;
}

h1{
    font: size 60px;
}

h2{
    font: size 60px;
}
p {
    font: size 25px;
    colour:blue
}

.paral{
    background-color: aqua;
    font style:italic
}
#main-heading {
    background-color: bisque;
}